{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">

        <h1>User creation</h1>

        {% form_theme form 'bootstrap_3_layout.html.twig' %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" class="btn btn-primary"/>
        {{ form_end(form) }}

        <ul>
            <li>
                <a href="{{ path('user_index') }}">Back to the list</a>
            </li>
        </ul>
    </div>
{% endblock %}
